**/.commitlintrc.json
**/.editorconfig
**/.huskyrc
**/.prettierignore
**/CONTRIBUTING.md
**/example.env
**/ISSUE_TEMPLATE.md
**/lerna.json
**/LICENSE
**/README.md
**/skaffold.yaml
**/TODO.md

**/docs
**/ingress
**/scripts
**/node_modules