{
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "rules": {
    "no-console": "warn",
    "semi": [
      2,
      "always"
    ]
  },
  "ignorePatterns": [
    "repl.js"
  ],
  "reportUnusedDisableDirectives": true
}