{
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "rules": {
    "no-console": "warn",
    "semi": ["error", "always"],
    "space-before-function-paren": ["error", "always"]
  },
  "ignorePatterns": [
    "repl.js"
  ],
  "reportUnusedDisableDirectives": true
}