
/* Local Vars */
$ripple-color: #fff !default;
$animation-duration: 0.5s !default;

.btn {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 8px 20px;
  border: 1px solid transparent;
  border-color: $main-accent-color;
  margin-bottom: 0;
  background: $main-accent-color;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 400;
  touch-action: manipulation;
  // animation props
  transition: background-color;
  transition-duration: $animation-duration;
  white-space: nowrap;

  &:disabled {
    border: none;
    background: pink;
  }

  &:hover:enabled,
  &:focus:enabled {
    background-color: $main-accent-active;
  }

  &::before {
    position: absolute;
    z-index: 30;
    top: 50%;
    left: 50%;
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 100%;
    background: $ripple-color;
    border-radius: 50%;
    content: "";
    // initial state - hide the effect when not animating
    transform: translate(-50%, -50%) scale(0);
    // hide el to prevent animate on page load
    visibility: hidden;
  }

  &:not(:active:enabled)::before {
    animation: scale-up $animation-duration ease-out 0s;
  }

  &:focus:enabled::before {
    // display el when focused
    visibility: visible;
  }
}

@keyframes scale-up {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0);
  }

  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }
}
