.grid {
  width: 100%;
  margin-top: -11px;

  &__item {
    margin-bottom: 1%;
    position: relative;
    display: block;
  }

  &__sizer {
    margin-bottom: 1%;
  }
}

.gutter-sizer {
  width: 1%;
}

.fa-icon {
  color: #000;
  width: 32px;
  height: 32px;
  display: inline-block;
  line-height: 32px;
  font-size: 15px;
  text-align: center;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto
}


@media (min-width:768px) {
  .grid {
    &__item,
    &__sizer {
      width: 49.5%;
    }
  }
} 

@media (min-width:1200px) {
  .grid {
    &__item,
    &__sizer {
    width: 32.633%;
    }
  }
}

/* Mobile + Tablet Viewports */
@media (max-width:767px) {
  .hidden-xs {
    display: none !important;
  }
  .grid {
    margin: 0;
    &__item {
      margin: 1rem;
    }
  }
}