.grid {
  overflow: hidden;
  width: 100%;
  margin-top: 4.2rem;

  &-row {
    padding-top: 0.8rem;
    margin-top: 2rem;
  }

  &-col {
    width: 100%;

    &__offset {
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  &__item {
    position: relative;
    display: block;
    margin-bottom: 1%;
  }

  &__sizer {
    margin-bottom: 1%;
  }
}

.gutter-sizer {
  width: 1%;
}

@media (min-width: $tablet-and-desktop) {
  .grid-col__right {
    width: 50%;
    float: left;
  }
}

@media (min-width: $mobile-and-tablet) {
  .grid {
    &__item,
    &__sizer {
      width: 49.5%;
    }
  }
}

@media (min-width: 1200px) {
  .grid {
    &__item,
    &__sizer {
      width: 32.633%;
    }
  }
}

@media (max-width: $mobile-and-tablet) and (min-width: 551px) {
  .grid {
    &__item,
    &__sizer {
      width: 49.5%;
    }
  }
}

@media (max-width: $mobile-and-tablet) {
  .grid {
    margin: 0;

    &-row {
      padding-right: -15px;
      padding-left: -15px;
      margin-top: 0;
    }

    &-col {
      display: flex;
      flex-direction: column;
    }
  }
}
