@import url(https://fonts.googleapis.com/css?family=Cabin:400,700|Source+Sans+Pro:400,700&display=swap);

@import
  'variables',
  'transitions',
  'buttons',
  'nav',
  'grid';

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
}

// main {
//   padding: .8rem;
// }

body {
  font-family:Source Sans Pro,Helvetica,Arial,sans-serif;
  font-size: 1.2em;
  line-height: 1.78;
  color:#000;
  background-color:#fff
}

a {
  color: $main-accent-color;
  text-decoration: none;
}

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset:-2px
}

a:focus,
a:hover {
  color: $main-accent-active;
  text-decoration: none;
}

hr {
  margin-top: 1em;
  border:0;
  border-top: 1px solid #eee;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Cabin, Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  color:#000
}

h1, h2, h3 {
  margin-top: 1.5rem;
  margin-bottom: 1.3rem;
}

p {
  margin: 0 0 .8rem;
}

button,
input,
textarea {
  color: inherit;
  font: inherit;
}

textarea {
  resize: none;
}

input,
textarea {
  margin-bottom: .5rem;
  padding: .5rem 1.25rem;
  border: 1px solid $main-info-color;
  border-radius: 2px;
  line-height: 1.5;
  color: $main-dark-color;

  &:focus {
    outline: 0;
    border-color: $main-secondary-active;
  }

  &::-ms-expand {
    border: 0;
    background-color: transparent;
  }

  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &::-webkit-input-placeholder {
    color: $main-dark-color;
  }

  &:not(:focus):invalid{
    color: $main-error-color;
  }
}

label {
  display: inline-block;
  margin-bottom: .3rem;
}

ul {
  list-style: none;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (max-width: $mobile-and-tablet){
  pre {
    font-size: .6rem !important;
  }
}

@media (min-width: $mobile-and-tablet){
  main {
    margin-left: 240px;
  }
}
