#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  animation: 3s linear infinite bar-progress, 0.3s fadein;
  background: #27c4f5 linear-gradient(to right, #27c4f5, #ff51cb, #fd8d32, #70c050, #27c4f5);
  background-size: 500%;
}

.nprogress-custom-parent {
  position: relative;
  overflow: hidden;
}

.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes bar-progress {
  from {
    background-position: 0% 0;
  }

  to {
    background-position: 125% 0;
  }
}

@keyframes bar-progress {
  from {
    background-position: 0% 0;
  }

  to {
    background-position: 125% 0;
  }
}
