.navigator {
  list-style: none;

  &-main {
    padding: 0;
    margin: 0;

    & > li,
    & > li > a {
      position: relative;
      display: block;
      color: #000;
    }

    & > li > a {
      padding: 5px 0;
    }

    & > li > a:focus,
    & > li > a:hover {
      background-color: transparent;
      text-decoration: none;
    }
  }

  &__branding {
    height: 50px;
    padding: 13px 15px;
    color: $main-accent-color;
    float: left;
    line-height: 24px;

    &:focus,
    &:hover {
      color: $main-accent-active;
      text-decoration: none;
    }

    & > img {
      display: block;
    }
  }

  &__footer {
    position: absolute;
    bottom: 0;

    &-social-buttons {
      margin-bottom: 0;
      margin-left: -10px;
    }
  }

  &__drawer {
    position: fixed;
    z-index: 999;
    top: 0;
    top: 52px;
    bottom: 0;
    left: -240px;
    width: 240px;
    height: auto;
    padding: 20px;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

@media (min-width: $mobile-and-tablet) {
  .navigator {
    &__drawer {
      top: 0;
      left: 0;
      padding: 30px;
    }
  }
}

@media (max-width: $mobile-and-tablet) {
  .navigator {
    margin-top: -0.5rem;

    &__drawer {
      position: inherit;
      overflow: hidden;
      width: 100%;
      height: 5rem;
      padding: 0;
    }

    &-main {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: space-around;
      background: #fff;

      li {
        display: inherit;
        width: 33%;
        height: 100%;
        align-items: center;
        justify-content: inherit;
        text-align: center;

        a {
          display: inherit;
          width: 100%;
          height: inherit;
          align-items: inherit;
          justify-content: inherit;
          color: #000;
          font-size: 1.3rem;
        }
      }
    }
  }

  .navigator__footer {
    display: none;
  }
}
