
.nav {
  margin-bottom:0;
  padding-left:0;
  list-style:none
}

.nav:after,
.nav:before {
  content:" ";
  display:table
}

.nav:after {
  clear:both
}

.nav>li,
.nav>li>a {
  position:relative;
  display:block
}

.nav>li>a {
  padding:5px 0
}

.nav>li>a:focus,
.nav>li>a:hover {
  text-decoration:none;
  background-color:transparent
}

.navbar:after,
.navbar:before {
  content:" ";
  display:table;
}

.navbar:after {
  clear:both;
}

.navbar-collapse:after,
.navbar-collapse:before {
  content:" ";
  display:table;
}

.navbar-brand {
  float:left;
  padding:13px 15px;
  font-size:18px;
  line-height:24px;
  height:50px;
}

.navbar-brand:focus,
.navbar-brand:hover {
  text-decoration:none;
}

.navbar-brand>img {
  display:block;
}

.nav-footer {
  position:absolute;
  bottom:0;
  padding-bottom:10px;
}

.nav>li>a {
  color:#000;
}

.nav-footer-social-buttons {
  margin-bottom:0;
  margin-left:-10px;
}

.sidebar {
  position:fixed;
  top:0;
  bottom:0;
  width:240px;
  height:auto;
  overflow-x:hidden;
  overflow-y:auto;
  background-color:#fff;
  z-index:999;
  left:-240px;
  top:52px;
  padding:20px;
}

.sidebar .navbar-collapse{
  padding:0;
}

.site-header {
  margin-bottom:30px;
  overflow:hidden;
}

.site-brand,
.site-logo {
  margin-bottom:6px;
}

.site-brand {
  color:#000;
  font-family:Cabin,Helvetica,Arial,sans-serif;
  font-size:18px;
  font-weight:700;
  display:block;
}

.site-brand:hover {
  text-decoration:none;
}

@media (min-width:768px){
  .sidebar {
    padding:30px;
    left:0;
    top:0;
  }
}

@media (max-width:767px) {
  #main-nav {
    margin-bottom: .1rem;
  }

  .nav {
    display: inherit;
  }

  .nav > li {
    padding: 0 3rem;
  }

  .navbar-brand {
    font-size: 3rem;
  }

  .nav-footer-social-buttons, 
  .nav-footer {
    display: none;
  }
 
  .navbar-collapse {
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
  }
    
  .sidebar {
    left: 0;
    height: 20%;
    width: 100%;
    position: relative;
    padding-top: 0;
  }
}
