/* Colors */
$main-accent-color:#ff79c6;
$main-accent-active: #ff4db2;
$main-secondary-color: #8be9fd;
$main-secondary-active: #66afe9;
$main-success-color: #50fa7b;
$main-error-color: #ff5555;
$main-warn-color: #f1fa8c;
$main-info-color: #6272a4;
$main-dark-color: #44475a;

/* Breakpoints */
$mobile-and-tablet: 768px;
$tablet: 800px;
$mobile: 600px;