/* Colors */
$main-accent-color:#ff79c6;
$main-accent-active: #ff4db2;
$main-secondary-color: #8be9fd;
$main-secondary-active: #66afe9;
$main-success-color: #50fa7b;
$main-error-color: #ff5555;
$main-warn-color: #f1fa8c;
$main-info-color: #6272a4;
$main-dark-color: #44475a;

/* Breakpoints */
$mobile: 600px;
$mobile-and-tablet: 768px;
$tablet: 800px;
$tablet-and-desktop: 1000px;

/* Mixins */
@mixin drop-cap($el) {
  #{$el}:first-of-type::first-letter {
    @media screen and (min-width: $mobile-and-tablet) {
      font-family: "Gentium Book Basic", serif;
      font-weight: bold;
      font-size: 8rem;
      vertical-align: bottom;
      line-height: 1em;
      float: left;
      padding-right: 7px;
      margin-top: -10px;
      margin-left: -10px;
    }
  }
}
